/**
 * 0.RESET
 */
@import "reset.css";

/**
 * 1.GLOBAL
 */

body {
  color: #000;
  background: #fff;
  font: normal 81.3%/1.538em "Lucida Grande", "Lucida Sans Unicode", sans-serif;
}
a {
  color: #0074BD;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
hr {
  margin: 0;
  padding: 0;
  border: none;
  height: 1px;
  background: #cccccc;
}
legend {
  font-weight: bold;
  margin-bottom: 14px;
  font-size: 15px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin: 10px 0;
}
h1 {
  font-size: 1.538em;
}
h2 {
  font-size: 1.385em;
}
h3 {
  font-size: 1.231em;
}
h4 {
  font-size: 1.154em;
}
h5,
h6 {
  font-size: 1.077em;
}
p {
  margin: 1em 0;
}
dl {
  margin: 0 0 20px;
}
dl dd,
dl dl {
  margin-left: 20px; /* LTR */
  margin-bottom: 10px;
}
blockquote {
  margin: 1em 40px;
}
address {
  font-style: italic;
}
u,
ins {
  text-decoration: underline;
}
s,
strike,
del {
  text-decoration: line-through;
}
big {
  font-size: larger;
}
small {
  font-size: smaller;
}
sub {
  vertical-align: sub;
  font-size: smaller;
  line-height: normal;
}
sup {
  vertical-align: super;
  font-size: smaller;
  line-height: normal;
}
nobr {
  white-space: nowrap;
}
abbr,
acronym {
  border-bottom: dotted 1px;
}
ul,
.block ul,
.item-list ul {
  list-style-type: disc;
  list-style-image: none;
  margin: 0.25em 0 0.25em 1.5em; /* LTR */
}
.item-list .pager li {
  padding: 0.5em;
}
.item-list ul li,
li.leaf,
ul.menu li {
  list-style-type: disc;
  list-style-image: none;
}
ul.menu li {
  margin: 0;
}
ol {
  list-style-type: decimal;
  margin: 0.25em 0 0.25em 2em; /* LTR */
}
.item-list ul li.collapsed,
ul.menu li.collapsed {
  list-style-image:url(../../misc/menu-collapsed.png);
  list-style-type:disc;
}
.item-list ul li.expanded,
ul.menu li.expanded {
  list-style-image:url(../../misc/menu-expanded.png);
  list-style-type:circle;
}
quote,
code {
  margin: .5em 0;
}
code,
pre,
kbd {
  font-size: 1.231em;
}
pre {
  margin: 0.5em 0;
  white-space: pre-wrap;
}
fieldset {
  border: 1px solid lightgray;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 10px 0 0 0;
  position: relative;
  margin: 5px;
}
#commerce_product_product_form_group_product_general_info fieldset.collapsed {
  border-width: 1px;
  height: auto;
}

fieldset legend {
  background-color: lightgrey;
  display: block;
  height: 30px;
  width: 100%;
  border: 1px solid lightgray;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  margin-bottom: 0px;
}

fieldset .fieldset-legend {
  margin-top: 5px;
  margin-left: 15px;
  position: absolute;
  text-transform: uppercase;
}

fieldset .fieldset-wrapper {
  padding: 0 13px 13px 15px;
}
/**
 * Skip link.
 */
#skip-link {
  margin-top: 0;
  position: absolute;
  left: 50%; /* LTR */
  margin-left: -5.25em; /* LTR */
  width: auto;
  z-index: 50;
}
#skip-link a,
#skip-link a:link,
#skip-link a:visited {
  display: block;
  background: #444;
  color: #fff;
  font-size: 0.94em;
  padding: 1px 10px 2px 10px; /* LTR */
  text-decoration: none;
  -moz-border-radius: 0 0 10px 10px;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-left-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  border-radius: 0 0 10px 10px;
}
#skip-link a:hover,
#skip-link a:focus,
#skip-link a:active {
  outline: 0;
}
/**
 * Tables.
 */
table {
  width: 100%;
  font-size: 0.923em;
  margin: 0 0 10px;
  border: 1px solid #bebfb9;
}
table td,
table th {
  vertical-align: middle;
  padding: 8px 10px;
  border: 0;
  color: #000;
}
tr.even,
tr.odd {
  border-width: 0 1px 0 1px;
  border-style: solid;
  border-color: #bebfb9;
  background: #f3f4ee;
}
tr.odd {
  background: #fff;
}
tr.drag {
  background: #fe7;
}
tr.drag-previous {
  background: #ffb;
}
table th {
  text-transform: uppercase;
  background: #e1e2dc;
  font-weight: normal;
  border-width: 1px;
  border-style: solid;
  border-color: #bebfb9;
  padding: 3px 10px;
}
table th.active {
  background: #bdbeb9;
}
table th a {
  display: block;
  position: relative;
}
table th.active a {
  padding: 0 25px 0 0; /* LTR */
}
table th.active img {
  position: absolute;
  top: 3px;
  right: 3px; /* LTR */
}
table td.active {
  background: #e9e9dd;
}
table tr.odd td.active {
  background: #f3f4ee;
}
table tr.selected td.active,
table tr.selected td {
  background: #ffc;
  border-color: #eeb;
}
table.system-status-report tr {
  border-bottom: 1px solid #ccc;
}
table.system-status-report tr.ok {
  color: #255b1e;
  background-color: #e5ffe2;
}
table.system-status-report tr.info {
  color: #040f37;
  background-color: #bdf;
}
table.system-status-report tr.warning {
  color: #840;
  background-color: #fffce5;
}
table.system-status-report tr.error {
  color: #8c2e0b;
  background-color: #fef5f1;
}
/**
 * Exception for webkit bug with the right border of the last cell
 * in some tables, since it's webkit only, we can use :last-child
 */
tr td:last-child {
  border-right: 1px solid #bebfb9; /* LTR */
}
/**
 * Tabs.
 */
.tabs-wrapper {
  border-bottom: 1px solid #333;
  margin: 0 0 1.4375em;
}
.not-logged-in .tabs-wrapper {
  display: none;
}
ul.primary {
  border-bottom: none;
  text-transform: uppercase;
  font-size: 0.923em;
  height: 2.60em;
  margin: 0;
  padding-top: 0;
}
.not-logged-in ul.primary {
  border: none;
  margin: 0;
  padding: 0;
  float: none;
}
ul.primary li {
  margin: 0;
}
ul.primary li a {
  background: none;
  border: none;
  border-radius: 0;
  color: #000;
  display: block;
  float: left;
  font-weight: bold;
  height: 2.60em;
  line-height: 2.60em;
  margin: 0;
  padding: 0 8px;
  text-decoration: none;
}
ul.primary li a.active {
  background: #666;
  color: #fff;
  padding: 0 8px;
}
ul.primary li a:hover {
  background: #888;
  color: #fff;
  padding: 0 8px;
}
ul.secondary {
  background: #666;
  border-bottom: none;
  clear: both;
  margin: 0;
  padding: 0;
}
ul.secondary li {
  border-right: none;
}
ul.secondary li a,
ul.secondary li a:link {
  border: none;
  color: #ccc;
  display: block;
  float: left;
  line-height: 1.5em;
  padding: 0 1em;
}
ul.secondary li a:hover,
ul.secondary li a.active {
  background: #888;
  color: #fff;
  text-decoration: none;
}
ul.secondary a.active {
  border-bottom: none;
}
/**
 * Form elements.
 */
.form-item {
  padding: 9px 0;
  margin: 0 0 10px;
}
.filter-wrapper .form-item,
div.teaser-checkbox .form-item,
.form-item .form-item {
  padding: 5px 0;
  margin: 0;
  border: 0;
}
.form-type-checkbox {
  padding: 0;
}
.text-format-wrapper .form-item {
  padding-bottom: 0;
}
.form-item label {
  margin: 0;
  padding: 0;
}
.form-item label.option {
  font-size: 0.923em;
  text-transform: none;
}
.form-item label.option input {
  vertical-align: middle;
}
.form-disabled input.form-autocomplete,
.form-disabled input.form-text,
.form-disabled input.form-file,
.form-disabled textarea.form-textarea,
.form-disabled select.form-select {
  background-color: #eee;
  color: #777;
}

/* Filter */
.filter-wrapper {
  border-top: 0;
  padding: 10px 2px;
}
.filter-wrapper .fieldset-wrapper {
  padding: 0 6px;
}
.filter-wrapper .form-item,
.filter-wrapper .filter-guidelines,
.filter-wrapper .filter-help {
  font-size: 0.923em;
  padding: 2px 0 0 0; /* LTR */
}
ul.tips,
div.description,
.form-item div.description {
  margin: 5px 0;
  line-height: 1.231em;
  font-size: 0.923em;
  color: #666;
}
ul.tips li {
  margin: 0.25em 0 0.25em 1.5em; /* LTR */
}
body div.form-type-radio div.description,
body div.form-type-checkbox div.description {
  margin-left: 1.5em; /* LTR */
}
input.form-submit,
a.button,
.line-item-summary-view-cart a {
  cursor: pointer;
  padding: 4px 17px;
  margin-bottom: 1em;
  margin-right: 1em; /* LTR */
  color: #5a5a5a;
  text-align: center;
  font-weight: normal;
  font-size: 1.077em;
  font-family: "Lucida Grande", Verdana, sans-serif;
  border: 1px solid #e4e4e4;
  border-bottom: 1px solid #b4b4b4;
  border-left-color: #d2d2d2;
  border-right-color: #d2d2d2;
  background: url(images/buttons.png) 0 0 repeat-x;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
}
a.button:link,
a.button:visited,
a.button:hover,
a.button:active,
.line-item-summary-view-cart a:link,
.line-item-summary-view-cart a:visited,
.line-item-summary-view-cart a:hover,
.line-item-summary-view-cart a:active {
  text-decoration: none;
  color: #5a5a5a;
}
input.form-submit:active,
.line-item-summary-view-cart a:active {
  background: #666;
  color: #fff;
  border-color: #555;
  text-shadow: #222 0 -1px 0;
}
input.form-button-disabled,
input.form-button-disabled:active {
  background: #eee none;
  border-color: #eee;
  text-shadow: none;
  color: #999;
}
input.form-autocomplete,
input.form-text,
input.form-file,
textarea.form-textarea,
select.form-select {
  padding: 2px;
  border: 1px solid #ccc;
  border-top-color: #999;
  background: #fff;
  color: #333;
}
input.form-text:focus,
input.form-file:focus,
textarea.form-textarea:focus,
select.form-select:focus {
  color: #000;
  border-color: #ace;
}
html.js input.form-autocomplete {
  background-position: 100% 4px;
}
html.js input.throbbing {
  background-position: 100% -16px;
}
ul.action-links {
  margin: 1em 0;
  padding: 0 20px 0 20px; /* LTR */
  list-style-type: none;
  overflow: hidden;
}
ul.action-links li {
  float: left; /* LTR */
  margin: 0 1em 0 0; /* LTR */
}
ul.action-links a {
  padding-left: 15px; /* LTR */
  background: transparent url(images/add.png) no-repeat 0 center;
  line-height: 30px;
}
/* Exceptions */
#diff-inline-form select,
div.filter-options select {
  padding: 0;
}
/**
 * 2.LAYOUT
 */

#container {
  margin: 0 auto;
  padding: 0 10px;
  width: 1070px;
}

/**
 * 3.MAIN
 */

/* 1 column: global values*/

#main {
  display: inline;
  margin: 0;
}

/* 3 columns */

body.two-sidebars #main {
  float: left;
  margin: 0 0 0 240px;
  padding: 0;
  width: 460px;
}

/* 2 columns: sidebar-first */

body.sidebar-first #main {
  float: right;
  margin: 0;
  padding: 0;
  width: 700px;
}

/* 2 columns: sidebar-second */

body.sidebar-second #main {
  float: left;
  margin: 0;
  padding: 0;
  width: 840px;
}

/**
 * 4.SIDEBARS
 */

/* 3 columns: sidebar-first */

body.two-sidebars #sidebar-first {
  float: left;
  margin: 0 0 0 -700px;
  padding: 0;
  width: 220px;
}

/* 3 columns: sidebar-second */

body.two-sidebars #sidebar-second {
  float: right;
  margin: 0;
  padding: 0;
  width: 220px;
}

/* 2 columns: sidebar-first */

body.sidebar-first #sidebar-first {
  float: left;
  margin: 0;
  padding: 0;
  width: 220px;
}

/* 2 columns: sidebar-second */

body.sidebar-second #sidebar-second {
  float: right;
  margin: 0;
  padding: 0;
  width: 220px;
}

/**
 * 5.HEADER
 */

#header {
  margin: 0;
  padding: 2.5em 0 0;
  position: relative;
}

#header #logo {
  float: left;
  margin: 0 1em 1.5em 0;
}
#header #logo img {
  max-width: 150px;
  height: auto;
}

#header #site-name-slogan {
  float: left;
  margin: 37px 0 1.5em;
}

#header #site-name {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.5em;
  font-weight: 700;
  line-height: 1.2;
  margin: 0;
}

#header #site-name a:hover {
  text-decoration: none;
}

#header #site-slogan {
  margin: 0;
}
/**
 * 7.NAVIGATION
 */

#navigation {
  clear: both;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #000;
  border-top: 1px solid #000;
}

#navigation ul {
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
}

#navigation ul li {
  margin: 0;
  padding: 0;
  display: inline-block;
}

#navigation ul li a {
  display: block;
  padding: 0 20px 0 0;
}

#navigation #block-system-user-menu ul {
  float: right;
  list-style: none;
  margin: 0;
  padding: 0;
}

#navigation #block-system-user-menu ul li {
  float: left;
  margin: 0;
  padding: 0;
}

#navigation #block-system-user-menu ul li a {
  display: block;
  padding: 0 2em 0 0;
}

.breadcrumb {
  clear: both;
  padding: 1.5em 0 0;
}

/**
 * 8.Custom
 */
form td {
  padding: 4px 5px;
}
span.print_pdf {
  margin-left: 0;
}
ul.action-links,
ul.action-links a {
  padding-left: 0;
}
/* 8.0.1 Login form */
.not-logged-in #main {
  display: block;
  //width: 400px;
  margin: 0 auto;
}
.not-logged-in form {
  padding: 0;
}

/* 8.0.3 Language bar */
#block-locale-language {
  float: right;
}
#block-locale-language li {
  display: inline-block;
}
/* 8.1 Order form - products page*/
.page-order-form td {
  height: auto;
  font-size: 12px;
}
.page-order-form .views-field-field-product-info-icon {
  width: 20px;
}
.page-order-form  .views-field-field-product-info-slider {
  display: none;
  max-width: 450px;
  position: absolute;
  background-color: #f3f4ee;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
}
.page-order-form  .views-field-field-product-info-slider img {
  max-width: 100%;
  height: auto;
}
.page-order-form .views-field-field-product-picture-icon {
  width: 20px;
}
.page-order-form  .views-field-field-product-picture-slider {
  display: none;
  max-width: 450px;
  position: absolute;
  background-color: #f3f4ee;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
}
.page-order-form  .views-field-field-product-picture-slider img {
  max-width: 100%;
  height: auto;
}
.page-order-form td.views-field-field-product-unit {
  width: 55px;
}
.page-order-form td.views-field-commerce-price {
  width: 55px;
}
.page-order-form td.views-field-add-to-cart-form {
  width: 65px;
}

.page-admin-commerce .views-field-commerce-price-editable {
  width: 150px;
}

.page-admin-commerce .field-type-commerce-price .commerce-price-full + .form-item.form-type-select {
  display: none;
}

.page-admin-commerce .field-name-field-product-extra-info textarea {
  width: 300px;
}
.page-admin-commerce .views-field-field-product-unit-number-editable .form-type-textfield input {
  width: 50px;
}

/* 8.2 Add to cart form */
.commerce-add-to-cart label {
  display: none;
}
.commerce-add-to-cart .form-item, .commerce-add-to-cart input {
  display: inline-block;
  margin: 0;
  line-height: 10px;
  font-size: 12px;
  width: 20px;
}
.commerce-add-to-cart input.form-submit {
  background: url(plus.jpg) 0 0 no-repeat;
  background-size: 20px;
  border: none;
  width: 20px;
  height: 20px;
  font-size: 0;
  margin-left: 5px;
  line-height: 21px;
}
caption {
  text-align: left;
  font-size: 16px;
  font-weight: bolder;
  padding-bottom: 5px;
}
/* 8.3 cart block */
#block-commerce-cart-cart {
  margin-top: 60px;
}
#block-commerce-cart-cart h2 {
  margin: 5px 0;
}
#block-commerce-cart-cart td {
  font-size: 10px;
}
/* 8.4 product form */
#commerce-product-ui-product-form {
  width: 100%;
}
#commerce-product-ui-product-form label {
  display: inline-block;
  width: 115px;
}
#commerce-product-ui-product-form select {
  display: inline-block;
}
#commerce-product-ui-product-form .field-name-field-product-unit-number, #commerce-product-ui-product-form .field-name-field-product-unit {
  display: inline-block;
}
#commerce-product-ui-product-form .field-name-field-product-unit {
  //margin-left: 20px;
}
#commerce-product-ui-product-form .form-item-field-product-unit-und label {
  display: none;
}
#commerce-product-ui-product-form .form-item-commerce-price-und-0-include-tax label {
  width: auto;
}
#commerce-product-ui-product-form #edit-field-product-unit-number-und-0-value {
  width: 100px;
}
#commerce-product-ui-product-form .form-item-commerce-price-und-0-currency-code label {
  display: none;
}
#commerce-product-ui-product-form .form-radios {
  display: inline-block;
}
#commerce-product-ui-product-form .form-item,
#commerce-product-ui-product-form .form-actions {
  margin-top: 5px;
  margin-bottom: 5px;
  display: inline-block;
}
#commerce-product-ui-product-form .form-type-radio label {
  width: auto;
}
/* 8.5 Checkout page and order edit form*/
/* 8.5.1 shipping and billing information */
.page-admin-commerce-orders-edit label,
#commerce-checkout-form-checkout label {
  display: inline-block;
  font-size: 12px;
  width: 150px;
}

#commerce-checkout-form-checkout .form-item-customer-profile-shipping-commerce-customer-profile-copy label {
  width: auto;
}

.page-admin-commerce-orders-edit .form-item,
#commerce-checkout-form-checkout .form-item {
  padding: 0;
}

.page-admin-commerce-orders-edit #edit-commerce-line-items-und-actions-product-sku {
  width: 100%;
}

#edit-cart-contents {
  margin-bottom: 10px;
}

#field-requested-shipping-date-add-more-wrapper fieldset,
#field-requested-shipping-date-add-more-wrapper .fieldset-wrapper,
div[id*='customer-profile-shipping-field-requested-shipping-date-add-more-wrapper'] fieldset,
div[id*='customer-profile-shipping-field-requested-shipping-date-add-more-wrapper'] .fieldset-wrapper{
  border: none;
  margin: 0;
  padding:0;
}

#field-requested-shipping-date-add-more-wrapper.date-padding,
div[id*='edit-customer-profile-shipping-field-requested-shipping-date-und-0-value'].date-padding {
  padding: 0px;
}

.form-item-customer-profile-shipping-field-requested-shipping-date-und-0-value-date label,
.form-item-customer-profile-shipping-field-requested-shipping-date-und-0-value-date input,
.form-item-customer-profile-shipping-field-requested-shipping-date-und-0-value-date .description {
  display: inline-block;
}

#field-requested-shipping-date-add-more-wrapper legend,
div[id*='customer-profile-shipping-field-requested-shipping-date-add-more-wrapper'] legend {
  display: none;
}

#customer-profile-billing-ajax-wrapper {
  display: initial;
}

#commerce-checkout-form-checkout .customer_profile_billing,
#customer-profile-shipping-ajax-wrapper {
  display: inline-block;
  width: 49%;
  vertical-align: top;
}

.checkout-buttons {
  border: none;
}

/* 8.6 Invoice */
.entity-commerce-invoice label {
  display: inline;
}
.entity-commerce-invoice .form-item,
.entity-commerce-invoice .field-name-number,
.entity-commerce-invoice .field-name-commerce-customer-billing,
.entity-commerce-invoice .field-name-date-created {
  margin: 10px 0;
  padding: 0;
}
.entity-commerce-invoice .content {
  position: relative;
  font-size: 12px;
}
.entity-commerce-invoice .invoice-number {
  position: absolute;
  left: 0px;
  top: 200px;
}
.entity-commerce-invoice .invoice-created {
  position: absolute;
  left: 0px;
  top: 215px;
}
.entity-commerce-invoice .invoice-supplier  {
  position: absolute;
  left: 0px;
  top: 0px;
}
.entity-commerce-invoice .field-name-commerce-customer-billing {
  position: absolute;
  left: 50%;
  top: 0px;
}
.entity-commerce-invoice .field-name-commerce-customer-shipping {
  position: absolute;
  left: 50%;
  top: 173px;
}
.entity-commerce-invoice .field-name-number {
  position: absolute;
  left: 0px;
  top: 165px;
  padding: 0 !important;
}
.entity-commerce-invoice .field-name-date-created {
  position: absolute;
  left: 0px;
  top: 180px;
}
.entity-commerce-invoice .field-name-commerce-line-items {
  position: relative;
  padding-top: 300px;
}

/* 8.7 Orders */
#views-form-commerce-orders-admin-page fieldset {
  border: none;
}

#views-form-commerce-orders-admin-page fieldset legend {
  display: none;
}

#views-form-commerce-orders-admin-page fieldset .fieldset-wrapper {
  padding: 0;
}

.page-admin-commerce-orders .field-name-commerce-customer-billing,
.page-user-orders .field-name-commerce-customer-billing,
.page-admin-commerce-orders .field-name-commerce-customer-shipping,
.page-user-orders .field-name-commerce-customer-shipping{
  display: inline-block;
  vertical-align: text-top;
  width: 49%
}

.page-admin-commerce-orders .field-name-commerce-customer-billing .field-items,
.page-user-orders .field-name-commerce-customer-billing .field-items,
.page-admin-commerce-orders .field-name-commerce-customer-shipping .field-items,
.page-user-orders .field-name-commerce-customer-shipping .field-items{
  padding-left: 15px;
}

.page-admin-commerce-orders .field-name-number,
.page-user-orders .field-name-number {
  padding-top: 10px;
}

.page-admin-commerce-orders .field-name-invoice-conditions,
.page-user-orders .field-name-invoice-conditions {
  display: none;
}

/*Basic page*/

.node-type-page #main {
  width: 100%;
}
/*-------------------------------------------------------------------------------------------------*/


